body,
html {

	  width: 100%;
	  height: 100%;
	  font-family: 'Montserrat', sans-serif;
	  margin: 0;
	  padding: 0;
	  overflow: hidden;
	  	 
}

.image-head{

  background-image:url(2021-Tesla-Model-Y-001-1080.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.con-c{

	height:100%;
	width: 100%;
}

.text-center{

	margin-top: 100px;

}

.sub{
	
	color: white;
	background: transparent;
	border-radius: 55px 55px;
	width: 300px;
	height:70px;
	border: 5px solid white;
	letter-spacing: 2px;
	outline-style:none !important;
    box-shadow: none !important;
    opacity: 1;	
    
    
	}
	
.but{

	position: relative;
	top:50%;
	display: flex;
	justify-content: center;
	align-items: center;
    animation-name: exam;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;

}

@keyframes exam{

	0%{opacity: 0.5;}
	40%{ opacity: 1; top: 40%;}
}



h1{
	margin:50px 100px ;
	color: white;
	font-size: 70px;

}

h1:hover{

	color: black;
	transition: 0.8s ease-in ;
	cursor: pointer;

}
